variables:
  GOFLAGS: -mod=readonly
  GOPATH: "${CI_PROJECT_DIR}/.modcache"

stages:
  - deps
  - test

dependencies:
  stage: deps
  tags:
    - kubernetes
  image: circleci/golang:1.12
  except:
    changes:
      - **/*.md
  cache:
    key: "cache-${CI_PROJECT_PATH_SLUG}-${CI_COMMIT_REF_SLUG}"
    paths:
      - .modcache
      - bin
  before_script:
    - mkdir .modcache
  script:
    - go mod download
    - make -j bin/golangci-lint bin/licensei bin/gotestsum

license-check:
  stage: test
  tags:
    - kubernetes
  image: circleci/golang:1.12
  cache:
    key: "cache-${CI_PROJECT_PATH_SLUG}-${CI_COMMIT_REF_SLUG}"
    paths:
      - .modcache
      - bin
    policy: pull
  script:
    - make license-cache
    - make license-check

check:
  stage: test
  tags:
    - kubernetes
  image: circleci/golang:1.12
  services:
    - vault:1.1.0
  variables:
    VAULT_ADDR: 'http://localhost:8200'
    VAULT_TOKEN: '227e1cce-6bf7-30bb-2d2a-acc854318caf'
    SKIP_SETCAP: 'true'
    VAULT_DEV_ROOT_TOKEN_ID: '227e1cce-6bf7-30bb-2d2a-acc854318caf'
  cache:
    key: "cache-${CI_PROJECT_PATH_SLUG}-${CI_COMMIT_REF_SLUG}"
    paths:
      - .modcache
      - bin
    policy: pull
  script:
    - make check

e2e-test:
  stage: test
  tags:
    - kubernetes
  image: docker:stable-git
  services:
    - docker:dind
    - vault:1.1.0
  variables:
    DOCKER_HOST: 'tcp://localhost:2375/'
    DOCKER_DRIVER: 'overlay2'
    VAULT_ADDR: 'http://localhost:8200'
    VAULT_TOKEN: '227e1cce-6bf7-30bb-2d2a-acc854318caf'
    SKIP_SETCAP: 'true'
    VAULT_DEV_ROOT_TOKEN_ID: '227e1cce-6bf7-30bb-2d2a-acc854318caf'
    GO_VERSION: '1.12.3'
    K8S_VERSION: 'v1.14.0'
    VAULT_VERSION: '1.1.0'
    GOPATH: '/go'
    DOCKER_LATEST: 1
    GIN_MODE: 'release'
  before_script:
    - apk add --update git make go curl bash musl-dev
    - docker info
    - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
    - curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/${K8S_VERSION}/bin/linux/amd64/kubectl
    - chmod +x kubectl
    - mv kubectl /usr/local/bin/
    - kubectl create ns test
    - kubectl config set-context --current --namespace=test
  script:
    - make docker VERSION="${CI_COMMIT_REF_NAME}"
    - make docker-operator VERSION="${CI_COMMIT_REF_NAME}"
    - docker build -f Dockerfile.vault-env -t banzaicloud/vault-env:latest .
    - docker build -f Dockerfile.webhook -t banzaicloud/vault-secrets-webhook:latest .
    - hack/acceptance-test.sh
  after_script:
    - kubectl delete ns test
    - kubectl delete clusterrolebinding vault-auth-delegator etcd-operator
    - kubectl delete clusterrole etcd-operator
